.style{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background-color: #FEFAE0;
    color: #3c3b3b;
}

.upper-background{
    position: relative;   
    height: 250px;
    background-color: #D4A373;
    border-radius: 0px 0px 50px 50px;
}

.menu__item {
    width: 28%;
    margin: auto;
    display: inline-block;
    vertical-align: top;
    padding: 10% 2% 2% 2%;
    text-align: center;
    text-decoration: none;
}

.menu__item_user{   
    color: #faedcd;   
}

.menu__item_user img {
    width: 100%;
    border-radius: 10px;
}

.menu__item_user-name {
    font-size: 16px;
    margin: auto;     
}

.menu__item_symbol i {
    font-size: 15px;
    padding: 10px;
    color: #faedcd;
    background-color: #d4a373;
    border-radius: 10px;
}

.data {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    width: 90%;
    margin: auto;
    text-align: center;
    height: 16%;
    background-color: #E9EDC9;
    border-radius: 30px;
}

.datas{
    display: none;
}

.datas.active{
    display: block;
}

.data__item {
    display: inline-block;
    width: 27.5%;
    background-color: #E9EDC9;    
    margin: 3% 0 3% 0;
}

.data__amount {
    font-size: 20px;
    
}

.data__title {
    font-size: 12px;
   
}

#unit {
    text-align: center;
    background-color: #FEFAE0;
    width: 80%;
    margin: 3% auto;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.unit__tool {
    display: inline-block;
    width: 30%;
    margin: auto;
    font-size: 14px;
    color: #3c3b3b;
}

.unit__tool.active{
    background-color: #D4A373;
    height: 100%;
    width: 30%;
    border-radius: 15px;
    margin: 0;
    box-shadow: 0px 0px 9px 3px #dfe8c3c4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__routes {
    margin: 3% auto auto auto;
    display: flex;
    justify-content: space-around;
}

.menu__routes_title {    
    padding-left: 3%;
    font-size: 16px;    
    margin-top: 25%;
}

.menu__routes_way {
    width: 15%;
    align-items: center;
    display: flex;
    text-decoration: none;
}

#menu__routes_selected{
    background-color: #D4A373;
    box-shadow: 0px 0px 9px 3px #b8bc94;
}

.menu__routes_link img {
    padding: 1%;
    background-color: white;
    border-radius: 5px;
}

.menu__routes_link{
    background-color: #E9EDC9;
    padding: 15%;
    margin: auto;
    border-radius: 10px;
}

.menu__routes_name{
    text-align: center;
    font-size: 10px;
    color: #474845;
}

.map{
    display: flex;
    padding: 5%;
    background-color: #FAEDCD;
    margin: 15% 3% 3% 3%;
    border-radius: 30px;
}

.map__window {
    width: 50%;
}

.map__window iframe {
    border: 0;
    border-radius: 15px;
}

.map__data{
    width: 49%;
    text-align: left;
    margin-left: 5%;
}

.map__data_way {
    font-size: 14px;
    color: #3c3b3b;
}

.map__data_by-way {
    font-size: 12px;    
}

.map__data_way-to-get {    
    background-color: #CCD5AE;
    border-radius: 10px;
    padding: 3%;    
}

.map__data b {
    padding: 3%;    
}

.menu__personal_title{
    text-align: left;
    padding-left: 3%;
    font-size: 16px;    
    margin-top: 10%; 
}

.menu-personal-data {
    text-align: center;
    background-color: #ccd5ae;
    width: 90%;
    margin: auto;
    height: 55px;
    border-radius: 15px;
    display: flex;  
}

.menu-personal-data__items {    
    width: 27%;
    margin: auto;    
}

.menu-personal-data__profile{
    background-color: #faedcd;
    box-shadow: 0px 0px 9px 3px #ded2b6;
    border-radius: 15px;
    text-align: left;
    width: 27%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
}

.menu-personal-data__name {
    font-size: 12px;    
    padding-right: 10%;
}

.menu-personal-data__profile img{
    background-color: white;
    border-radius: 10px;
}

.menu-personal-data__items i{
    font-size: 22px;
    color: #3c3b3b;
}


