.tabs__style {
    width: 80%;
    margin: auto;
    color: #3c3b3b;
}

.tabs {
    margin: 2% 10% 2% 10%;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {    
    background-color: #d4a373;
    color: #3c3b3b;
}

.nav-link {
    color: #3c3b3b;
}

.tab-content {
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.credit-card {
    padding: 3%;
    height: 135px;
    background-color: #FAEDCD;
    border-radius: 20px;
}

.credit-card__data {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.credit-card__other {
    display: flex;
    justify-content: space-between;
    margin-top: 18%;
}

.tab-content{
    display: block;
    width: 100%;
}