.style{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background-color: #FEFAE0;
    color: #3c3b3b;
}

.menu{
    margin: auto;
    display: flex;
    position: fixed;
    width: 100%;
    height: 36px;
    align-items: center;
    justify-content: space-between;
    background-color: #FEFAE0;
}

.menu__item {
    width: 25%;    
    text-align: center;
}

.menu__item_symbol i {
    font-size: 15px;
    padding: 10px;
    color: #D4A373;
    background-color: #fefae0;
    border-radius: 10px;
}

.menu__routes {
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: #E9EDC9;
}

.menu__routes_item {
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__routes_title {
    text-align: left;
    padding-left: 3%;
    font-size: 16px;
    color: #3c3b3b;
    letter-spacing: 1px;
    margin: auto;
}

.menu__routes_way {
    padding: 2%;
    background-color: white;
    border-radius: 10px;
    margin: 0 2% 0 2%;
}

.menu__routes_way-selected {
    border: 2px #D4A373 solid;
    box-shadow: 0px 0px 5px 2px #d4a373;
}

.data__routes {
    width: 90%;
    margin: auto;
    background-color: #fcfee9;
    padding: 3%;
}

.data__ways {
    background-color: #FAEDCD;
    color: #3c3b3b;
    margin: auto;
    text-align: center;
    padding: 2%;
    border-radius: 20px;
}

.data__ways_item {
    display: inline-block;
    width: 39%;
    vertical-align: top;
    padding: 3%;
    text-align: left;
    background-color: #FEFAE0;
    height: 67px;
    margin: 2%;
    border-radius: 15px;
}

.data__ways_item-title {
    font-size: x-small;
    margin: auto;
}

.data__ways_item b{
    font-size: 12px;
}

.menu-personal-data {
    text-align: center;
    background-color: #ccd5ae;
    width: 90%;
    margin: auto;
    height: 55px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-personal-data__items {    
    width: 27%;
    margin: auto;    
}

.menu-personal-data__profile{
    background-color: #faedcd;
    box-shadow: 0px 0px 9px 3px #d5cebe;
    border-radius: 15px;
    text-align: left;
    width: 27%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
}

.menu-personal-data__name {
    font-size: 12px;
    color: #3c3b3b; 
    padding-right: 10%;
}

.menu-personal-data__profile img{
    background-color: white;
    border-radius: 10px;
    object-fit: cover;
}

.menu-personal-data__items i{
    font-size: 22px;
    color: #3c3b3b;
}